#Jupyter batch files
*.bat

#Checkpoints
Notebooks/.ipynb_checkpoints/*

#NREL key
Notebooks/NREL_key.txt

#Data
Data/MJBA/Exits.*
Data/NREL/DCFC.csv
Data/HIFLD/Substations.*
Data/OSM/NC_roads/*
Data/OSM/OSM_amenities.*
Data/OSM/Amenities.csv
Data/exits_flood.*
Data/exits_with_flood.csv
Data/processed/*